* {
    margin: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

main {
    width: 350px;
    margin: 4rem auto 0;
    padding: 0 1rem;
}

.content, .divs {
    padding: 0 1.6rem;
}

.content {
    margin-bottom: 3.2rem;
}

.title {
    font-size: 1.3rem;
    font-weight: 200;
    color: #4d4f62;
    text-align: center;
    margin: 0;
}

.highlight {
    font-weight: 600;
}

.text {
    font-size: 0.8rem;
    color: #a3a5ae;
    text-align: center;
    line-height: 1.4rem;
}

.tools {
    display: flex;
    flex-direction: column;
    height: 190px;
    margin-bottom: 1.6rem;
    padding: 0 1.5rem;
    box-shadow: 0 10px 14px rgba(77,79,98,.2);
    border-radius: 6px;
    border-top: 4px solid #4d4f62;
}

.supervisor {
    border-color: #45d3d3;
}

.team-builder {
    border-color: #ea5353;
}

.karma {
    border-color: #fcaf4a;
}

.calculator {
    border-color: #549ef2;
}

.tool-name {
    font-size: 1.1rem;
    font-weight: 600;
    color: #4d4f62;
    margin-bottom: 0;
}

.tool-task {
    font-size: 0.67rem;
    color: #a3a5ae;
    line-height: 1.2rem;
    margin: 0.3rem 0 1.5rem;
    padding-right: 0.5rem;
}

.tool-img {
    width: 50px;
    margin-left: auto;
}

.attribution {
    margin: 2rem 0;
    font-size: 0.55rem;
    text-align: center;
}

.attribution a {
    color: #549ef2;
}

@media (min-width: 1100px) {
    body {
        min-height: 100vh;
        display: grid;
        place-content: center;
    }

    main {
        margin: 0;
        width: 1060px
    }

    .content {
        margin: 0 auto 3.5rem;
        width: 600px;
    }

    .title {
        font-size: 2.2rem;
    }

    .text {
        font-size: 1rem;
    }

    .divs {
        display: grid;
        place-items: center;
        grid-template-areas:
        "supervisor team calculator"
        "supervisor karma calculator";
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.8rem;
        padding: 0;
    }

    .supervisor {
        grid-area: supervisor;
    }

    .team-builder {
        grid-area: team;
        margin-bottom: 0;
    }

    .karma {
        grid-area: karma;
        margin-bottom: 0;
    }

    .calculator {
        grid-area: calculator;
    }

    .tools {
        height: 220px;
        padding: 0.1rem 1.7rem 0;
    }

    .tool-name {
        font-size: 1.3rem;
    }

    .tool-task {
        font-size: 0.8rem;
        line-height: 1.4rem;
        margin-bottom: 2.3rem;
    }
}